.lista-dados {
  width: 100%;
  border-collapse: collapse;
}

.lista-dados th, .lista-dados td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.lista-dados th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.lista-dados tr:hover {
  background-color: #f1f1f1;
}
